.about {
  background: linear-gradient(
    90deg,
    #1d1d1d 41.15%,
    rgba(29, 29, 29, 0.899785) 58.33%,
    rgba(29, 29, 29, 0.627867) 78.26%,
    rgba(29, 29, 29, 0) 100%
  );

  &-wrap {
    max-width: 1480px;
    margin: auto;
    padding: 70px 0;
  }

  &-title {
    font-weight: bold;
    font-size: 28px;
    color: $font-color;
    margin-bottom: 45px;
  }

  &-box {
    display: flex;
    justify-content: space-between;
  }

  &-photo {
    width: 500px;

    & img {
      border-radius: 15px;
    }

    &-item {
      background-position: center;
      background-repeat: no-repeat;
      min-height: 600px;
      margin-bottom: 20px;
    }

    &-item:nth-child(1) {
      background-image: url('/images/about1.png');
    }

    &-item:nth-child(2) {
      background-image: url('/images/about2.png');
    }

    &-item:nth-child(3) {
      background-image: url('/images/about3.JPG');
      background-size: cover;
    }

    &-item:nth-child(4) {
      background-image: url('/images/about4.jpg');
      background-size: cover;
    }

    &-item:nth-child(5) {
      background-image: url('/images/about5.jpg');
      background-size: cover;
    }

    &-item {
      outline: none;
    }

    &-text {
      display: inline-block;
      background-color: #fff;
      color: $accent-color;
      border-radius: 15px;
      padding: 2px 10px;
      font-size: 20px;
      font-weight: 300;
      margin-top: 20px;
      margin-left: 20px;
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
  }

  &-list {
    margin: 0;
    margin-bottom: 60px;
  }

  &-item {
    background-color: $font-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;

    align-items: center;
    width: 550px;
    height: 144px;
    margin-bottom: 40px;
  }

  &-item:last-child {
    margin-bottom: 0;
  }

  &-item:hover .about-counter {
    color: $accent-color;
    transition: 0.2s;
  }

  &-counter {
    background: #c4c4c4;
    height: 100%;
    width: 85px;
    line-height: 144px;
    text-align: center;
    margin: 0;
    border-radius: 15px 0px 0px 15px;
    font-weight: bold;
    font-size: 50px;
    color: $font-color;
    transition: 0.2s;
    border-right: 3px solid $accent-color;
  }

  &-desc {
    margin-left: 20px;

    &-item {
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 22px;
      //color: $second-font-color;
    }
  }

  &-techname {
    font-weight: 600;
    font-size: 24px;
    color: $font-color;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
  }

  &-techbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-bottom: 40px;
  }

  &-techimg {
    margin-right: 15px;
  }

  &-btn-box {
    display: flex;
    justify-content: center;
  }

  &-btn {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px 0px 0px 15px;
    background-color: $font-color;
    width: 173px;
    transition: 0.2s;
    border: none;
    padding: 3px 0;
    cursor: pointer;
    text-align: center;

    &:hover {
      background-color: $accent-color;
      color: $font-color;
      font-weight: bold;
      transition: 0.2s;
    }
  }

  &-btn-cisco {
    border-radius: 0px 15px 15px 0px;
  }

  .slider-dots {
    display: flex;
    margin: auto;
    justify-content: center;

    & li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: white;
      margin-right: 5px;
      opacity: 20%;
    }

    & li:last-child {
      margin-right: 0;
    }

    & li.slick-active {
      opacity: 95%;
      background-color: $accent-color;
    }
  }
}

.slick-track {
  & img.slick-active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

#modal-container-goit,
#modal-container-cisco {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;

  &.one {
    transform: scaleY(0.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    .modal-background {
      .modal {
        transform: scale(0);
        animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      }
    }
    &.out {
      transform: scale(1);
      animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      .modal-background {
        .modal {
          animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
        }
      }
    }
  }
}

.modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
  .modal {
    background: white;
    padding: 20px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 300;
    position: relative;

    // & img {
    //   height: 800px;
    //   width: 1000px;
    // }
  }
}

.modal-active {
  overflow: hidden;
}

@media (max-width: 1480px) {
  .about {
    &-wrap {
      max-width: 1350px;
    }
  }
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
