html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: $font-color;
  text-decoration: none;  
  outline-color: $accent-color;
}

ul {
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  
}
