.promo {
  background-color: $first-color;
  color: $font-color;

  &-wrap {
    max-width: 1480px;
    margin: auto;
  }

  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
    padding-top: 20px;
  }

  &-logo {
    color: $font-color;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;

    & span {
      color: $accent-color;
    }
  }

  &-nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  &-nav-item {
    margin-right: 20px;
    margin-bottom: 0;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: 0.2s;

    &:last-child {
      margin-right: 0;
    }

    & a {
      color: $font-color;
      text-decoration: none;
      cursor: pointer;

      &:after {
        background-color: $accent-color;
        display: block;
        content: '';
        height: 2px;
        width: 0%;
        -webkit-transition: width 0.3s ease-in-out;
        -moz--transition: width 0.3s ease-in-out;
        transition: width 0.3s ease-in-out;
      }

      &:hover:after,
      &:focus:after {
        width: 100%;
      }
    }
  }

  &-hero {
    display: flex;
  }

  &-sidebar {
    width: 60%;

    &:nth-child(2) {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &-title {
    font-weight: 500;
    font-size: 36px;
    border-left: 2px solid $accent-color;
    padding-left: 20px;
    margin-bottom: 50px;
    margin-top: 0;

    & span {
      color: $accent-color;
    }
  }

  &-item {
    display: flex;
    margin-bottom: 20px;
  }

  &-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;

    &-cybersafty {
      width: 65px;
      height: 50px;
      margin-right: 20px;
    }
  }

  &-subtitle {
    font-weight: 500;
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  &-subitem {
    &:last-child {
      margin: 0;
    }
  }

  &-description {
    font-size: 20px;
    font-weight: 300;
    color: $second-font-color;
    margin-top: 0;
    margin-bottom: 15px;
  }

  &-img-elipse {
    position: absolute;
  }

  &-img-shadow {
    z-index: 2;
  }

  &-img-mockup {
    position: absolute;
    z-index: 2;
  }

  &-btn {
    margin-top: 100px;
    border-radius: 15px;
    background-color: $accent-color;
    padding: 5px 40px;
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
    transition: 0.2s;
    border: 2px solid transparent;
    margin-bottom: 50px;

    &:hover {
      background-color: $font-color;
      border: 2px solid $accent-color;
      color: $accent-color;
      transition: 0.2s;
    }
  }
}

.border-for-wrap {
  background-color: $first-color;
  width: 100%;
  height: 100px;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  transform: translateY(-20px);
}

@media (max-width: 1480px) {
  .promo {
    &-wrap {
      max-width: 1350px;
    }
  }
}

@media (min-width: 720px) {
  .promo {
    &-macbook {
      display: none;
    }

    &-nav-list-mobile {
      display: none;
    }

    &-nav-burger {
      display: none;
    }
  }
}

@media (max-width: 720px) {
  .promo {
    &-sidebar:nth-child(2) {
      display: none;
    }

    &-macbook {
      height: 200px;
    }

    &-img-elipse {
      width: 172px;
    }

    &-img-shadow {
      width: 172px;
      position: absolute;
    }

    &-img-mockup {
      width: 172px;
      position: absolute;
    }

    &-nav-list {
      display: none;
    }

    &-nav-burger {
      background-image: url('/images/burger.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 40px;
      height: 40px;
      padding: 0;
      margin: 0;
      z-index: 101;
      outline: none;
      margin-right: 15px;
      transition: 0.2s;

      & img {
        width: 40px;
        height: 40px;
      }
    }

    &-nav-list-mobile {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 100;
      background-color: #000;
      color: $font-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .nav-burger-closed {
    background-image: url('/images/menu-closed.svg');
    transition: 0.2s;
  }

  .nav-closed {
    display: none;
  }
}
